{% extends 'baseLogado.html' %}
{% block title %}Logado{% endblock %}


{% block content %}
<style>
.card_aposta{
    width: 100%!important;
}
.bandeiras{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.time{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nome_time{
    text-align: center;
}
.versus{
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-size: 28px;
}
.versus span{
    margin-left: 10px;
    text-align: center;
    margin-right: 10px;
}
.yellow{
    color: orangered;
}
.green{
    color: green;


}
input[type=text], select {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
                    width: 15%;
                    background-color: #4CAF50;
                    color: white;
                    padding: 5px 5px;
                    margin: 5px 0;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;}

</style>
<h1>{{time1}} x {{time2}}</h1>
<form method="POST" action="submit">
    {%csrf_token%}
    
    
   
    <div class= "time">
    <img src="{{imgTime1}}"  width="50" height="50"  alt="My image">
    <input type="text" name="timeA"> 
    </div>
    <div class="versus">

        <h1>X</h1>
    </div>

    <div class ="time">
        <input type="text" name="timeB">
    <img src="{{imgTime2}}" width="50" height="50"  alt="My image">
    <input type="submit" value ="Apostar">
    </div>   
   
</form>


{% endblock %}
