
{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SportsTrader</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<style>
    .jumbotron.header{
        background-color: rgb(52, 94, 129);
        color: white;
    }
body{
text-align: center;
background-color: white;

background-repeat:no-repeat;
height:auto;
width:auto;
} 


</style>

<body class="p-3 mb-2 bg-light" >

    <div class="container-fluid ">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">SportsTrader</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="textoNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'register' %}">Registrar</a>
                    </li>
                    
                    
                </ul>
                <span class="navbar-text">
                         Faça seu login para entrar nas Salas!
                </span>
            </div>
        </nav>
      
    <div class="jumbotron header text-center">
        <h1>Sports Trader's</h1>
    </div>
    
    
        {% block content %}
        
        {% endblock %}
    </div>
    <footer class="bg-dark py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="accordion w-100 d-lg-flex " id="accordion">
                            <div class="col-lg-4 col-md-12">
                                <a href="#one" data-toggle="collapse" >
                                    Criadores
                                </a>
                                <div class="text-white h5">
                                    

                                </div>
                                <div class="collapse text-white d-lg-flex" id="one" data-parent="#accordion">
                                    
                                    Lucas Rodrigues Ferreira  <br>
                                    Márcio Gonçalves Pereira

                                </div>

                            </div>
                            
                            <div class="col-lg-4 col-md-12">
                                <a href="#dois" data-toggle="collapse" >
                                        &reg; 2019  Sports Trader's
                                </a>
                                <div class="collapse text-white d-lg-flex"  id="dois" data-parent="#accordion">
                                       
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-12">
                                    <a href="#tres" data-toggle="collapse" >
                                        GitLab
                                    </a>
                                    <div class="collapse text-white d-lg-flex" id="tres" data-parent="#accordion">
                                        
                                    </div>
    
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
       
    </footer>


    
    
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>