{% extends 'baseLogado.html' %}
{% load static %}
{% block title %}Listagem de Posts{% endblock %}
{% block content %}
<style>
.chek{
    position: relative;
}
</style>
<h1>Adicionar Sala</h1>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
       
        <h1>Sports Trader's</h1>
      </div class = "form-grup">
<form action="submit" method="POST">
  {%csrf_token%}
        {% for message in messages %}
        <div class="alert alert-danger">
                <strong>Erro!</strong> {{message}}
        </div>
        {% endfor %}
        <input type="text" id="nome" class="fadeIn second" name="nome" placeholder="Nome da Sala">
        <input type="text" id="qntApostador" class="fadeIn second" name="qntApostador" placeholder="Quantidade de Apostadores">
        <br><input type="checkbox" name="Privada" class="fadeIn second" value="Privada"> Sala Privada<br>
        <input type="password" id="password" class="fadeIn second" name="password" placeholder="Senha">
        <input type="password" id="password2" class="fadeIn second" name="password2" placeholder="Repita a Senha">
        <input type="submit" class="fadeIn fourth" value="Adicionar">  
</form>
</div>
</div>

{% endblock %}