{% extends 'baseLogado.html' %}
{% block title %}Logado{% endblock %}
{% block content %}

<div class="container-fluid">
    {% for message in messages %}
    <div class="alert alert-danger">
            <strong>{{message}}</strong>
    </div>
    {% endfor %}
    <h1>Jogos mais populares</h1>
    {%if moderador%}
          <a href="../resultados/" class="btn btn-primary">Lançar Resultados</a>
    {%endif%}
    <br>
    <br>
    <div class="row">
      
      <div class="col">
        <div class="card text-white  bg-info mb-3">
          <div class="card-header">
            Campeonatos
          </div>
          <div class="card-body">
            
            <p class="card-text"></p>
            <div class="list-group">
                {%for c in camps%}
                <a href="#" class="list-group-item list-group-item-action">{{c}} </a>
                {%endfor%}
            </div>
            
          </div>
      </div>
        
      </div>
    </div>
      <div class="row">
          {%for j in jogos%}
          <form method="POST" action="submit">
              {%csrf_token%}
          <div class="col">
            <div class="card border-info mb-3" style="width: 387px; height: 450px;">
              <div class="card-header" style="height: 430px;">
                <img src="../static/imagem/{{j.5}}.png"  width="50" height="50"  alt="My image">      x      <img src="../static/imagem/{{j.6}}.png"  width="50" height="50"  >
                <h5 class="card-title">{{j.0}} x {{j.1}}</h5>
                <p class="card-title">{{j.7}}</p>
                <p class="card-text">Data: {{j.3}}</p>
                <p class="card-text">Local: {{j.4}}</p>
                <p class="card-text">Horário: {{j.2}}</p>
                <p class="card-text">Valor: R$ 10,00</p>
                </div>
                <input type="hidden" value = "{{j.8}}" name = "{{j.8}}">
                <input type="submit" name="a{{j.8}}" value="Apostar" class="btn btn-primary">
              
            </div>
          </div>
          <br>
        </form>
          {%endfor%}
          
        </div>
        
        
        
        
        </div>
      
      
    
      


{% endblock %}