{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
       
        <h1>Sports Trader's</h1>
      </div class = "form-grup">
  
      <!-- Login Form -->
      <form action="submit" method="POST">{% csrf_token %}
          
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
        {% for message in messages %}
        <div class="alert alert-danger">
                <strong>Erro!</strong> {{message}}
        </div>
        {% endfor %}

        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="../register/">Registrar</a>
      </div>
      
  
    </div>
  </div>
        

{% endblock %}