{% extends 'base.html' %}
{% block title %}Registro{% endblock %}
{% block content %}
<h1>Registo de Apostador</h1>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
       
        <h1>Sports Trader's</h1>
      </div class = "form-grup">
<form action="submit" method="POST">
  {%csrf_token%}
        {% for message in messages %}
        <div class="alert alert-danger">
                <strong>Erro!</strong> {{message}}
        </div>
        {% endfor %}
        <input type="text" id="first_name" class="fadeIn second" name="first_name" placeholder="Nome">
        <input type="text" id="last_name" class="fadeIn second" name="last_name" placeholder="Sobrenome">
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="Usuário">
        <input type="text" id="email" class="fadeIn second" name="email" placeholder="E-mail">
        <input type="password" id="password" class="fadeIn second" name="password" placeholder="Senha">
        <input type="password" id="password2" class="fadeIn second" name="password2" placeholder="Repita a Senha">
        <input type="submit" class="fadeIn fourth" value="Registrar">  
</form>
</div>
</div>
    
{% endblock %}