{% extends 'baseLogado.html' %}
{% load static %}
{% block title %}Listagem de Posts{% endblock %}
{% block content %}

<h1>Salas de Apostas</h1>


<nav class="navbar navbar-expand-sm bg-light bg-dark ">

        <!-- Links -->
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link" href="criarSala/">Adicionar Sala</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="verSalas/">Ver Salas</a>
          </li>
        </ul>
      
      </nav>
      <br>
      <br>

{% endblock %}