{% extends 'baseLogado.html' %}
{% block title %}Logado{% endblock %}
{% block content %}
<style>
input.excluir{
  background-color: red;
}
h15{
  color: white;
  text-align: center;
}
a.verde{
  background-color: green;
  height: 30px;
  width: 100px;
}
a.vermelho{
  background-color: red;
  height: 30px;
  width: 100px;
}
a.azul{
  background-color: blue;
  height: 30px;
  width: 100px;
}


</style>
{% for message in messages %}
<div class="alert alert-danger">
        <strong>{{message}}</strong>
</div>
{% endfor %}
<h1>
    Apostas de {{ user.get_username }}
</h1>
<div class="row">

    {%for j in jogos%}
    <form method="POST" action="submit">
      <div class="col">
        {%csrf_token%}
    <div class="card border-info mb-3" style="width: 395px">
        <div class="card-header">
          <img src="../static/imagem/{{j.5}}.png"  width="50" height="50"  alt="My image">      x      <img src="../static/imagem/{{j.6}}.png"  width="50" height="50"  >
          <h5 class="card-title">{{j.0}} x {{j.1}}</h5>
          <p class="card-title">Seu Placar: {{j.9}} x {{j.10}}</p>
          <div class="col">
            <a class="{{j.12}}"><h15>{{j.13}}</h15></a>
          </div>
          <p class="card-title">{{j.7}}</p>
          <p class="card-text">Data: {{j.3}}</p>
          <p class="card-text">Local: {{j.4}}</p>
          <p class="card-text">Horário: {{j.2}}</p>
          <p class="card-text">Valor: R$ 10,00</p>
          <input type="hidden" value = "{{j.11}}" name = "{{j.11}}">
          <input type="submit" name="a{{j.11}}" value="Excluir" class="excluir">
          
        </div>
        </div>
        </div>
      
    </form>
  
    {%endfor%}
    
  </div>


{% endblock %}