{% extends 'baseLogado.html' %}
{% block title %}Salas{% endblock %}
{% block content %}

<h1>Salas de Jogos</h1>

{%for sala in nomes%}
<a href="#" class="list-group-item list-group-item-action"> <strong>Nome:</strong>  {{sala.0}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Sala Privada:</strong> {%if sala.1%}Sim{%endif%}{%if not sala.1 %}Não{%endif%}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Capacidade:</strong>{{sala.2}}</a>
{%endfor%}

{% endblock %}